.container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "header header"
        "logo content";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.logo {
    grid-area: logo;
}