.form {
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: 100dvh;
    max-width: 50dvw;
    padding-top: 80px;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}