# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=XXX
NEXT_PUBLIC_SUPABASE_ANON_KEY=XXX

SUPABASE_ACCESS_TOKEN=XXX
SUPABASE_PROJECT_ID=XXX