@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "cropms";
    default: true; /* set as default */
    prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light dark; /* color of browser-provided UI */

    --color-base-100: oklch(97% 0 0);
    --color-base-200: oklch(92.2% 0 0);
    --color-base-300: oklch(87% 0 0);
    --color-base-content: black;
    --color-primary: #09E85E;
    --color-primary-content: #214F4B;
    --color-secondary: #214F4B;
    --color-secondary-content: white;
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: oklch(50% 0.05 240);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);

    /* border radius */
    --radius-selector: 0;
    --radius-field: 0;
    --radius-box: 0;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 0;
    --noise: 0;
}